html
  head
    meta(charset="UTF-8")
    title Создание пользователя
  body
    h1 Создать пользователя

    form(action="/users" method="POST")
      div
        input(type="text" name="name" placeholder="Имя" required)

      div
        input(type="email" name="email" placeholder="Email" required)

      button(type="submit") Создать

    br
    a(href="/users") Назад